<a href="https://colab.research.google.com/github/asifikbal09/basic-python-for-ml/blob/main/Python_for_ML_Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Basic Python for ML

In [ ]:
#--- Data type ---
x = 42
y = 3.1416
z = "hello"
t = True
lst = ["banana","apple","orenge"] # list [mutable]
tup = ('asif',23,'imran','forhad','romjan') # tuple [imutable]
dct ={
    'name':"asif",
    'age':23,
    'city':"dhaka"
} # dict [mapping]
st = {1,2,5,3,6,6,8,3} # set [unique]

print(x)
print(y)
print(z)
print(t)
print(lst)
print(tup)
print(dct)
print(st)
print(type(x)
,type(y)
,type(z)
,type(t)
,type(lst)
,type(tup)
,type(dct)
,type(st))

42
3.1416
hello
True
['banana', 'apple', 'orenge']
('asif', 23, 'imran', 'forhad', 'romjan')
{'name': 'asif', 'age': 23, 'city': 'dhaka'}
{1, 2, 3, 5, 6, 8}
<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'list'> <class 'tuple'> <class 'dict'> <class 'set'>

In [ ]:
tpl = (1, 2, 3, [4, 5])
tpl[3].append(6)
print(tpl)

(1, 2, 3, [4, 5, 6])